@charset "utf-8";



/*Google Fontsの読み込み
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Cinzel');

/*slide.cssとmenu.cssの読み込み
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url(slide.css);
@import url(menu.css);



/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body,html {width: 100%;height: 100%;overflow-x: hidden;}
body {
	margin: 0px;
	padding: 0px;
	color: #777;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 13px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #bfdbe4;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #777;		/*リンクテキストの色*/
	transition: 0.4s;	/*マウスオン時の移り変わるまでの時間設定。0.4秒。*/
}
a:hover {
	color: #000;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*各ページの背景イメージ
---------------------------------------------------------------------------*/
.bgimg {
	text-indent: -9999px;
	position: fixed;top: 0px;z-index: -1;
	width: 100%;
	height: 100%;
}
/*
/*Aboutページの背景画像*/
#bgimg-about {
	background: url(../images/img_about.jpg) no-repeat right bottom / auto 60%;		/*背景画像を右(right)下(bottom)に配置。幅は自動、高さを60%に。*/
}
/*Shoppingページの背景画像*/
#bgimg-shopping {
	background: url(../images/img_shopping.jpg) no-repeat right top / auto 60%;		/*背景画像を右(right)上(top)に配置。幅は自動、高さを60%に。*/
}
/*Accessページの背景画像*/
#bgimg-access {
	background: url(../images/img_access.jpg) no-repeat right bottom / auto 60%;	/*背景画像を右(right)下(bottom)に配置。幅は自動、高さを60%に。*/
}
/*Contactページの背景画像*/
#bgimg-contact {
	background: url(../images/img_contact.jpg) no-repeat right bottom / auto 60%;	/*背景画像を右(right)下(bottom)に配置。幅は自動、高さを60%に。*/
}
*/
/*トップページのcontainerとsub共通
---------------------------------------------------------------------------*/
.home #container,.home #sub {
	height: 100%;
}

/*トップページのmain共通
---------------------------------------------------------------------------*/
.home #main {
	height: 95%;
}

/*container。サイト全体を囲むブロック
---------------------------------------------------------------------------*/
#container {
	max-width: 1500px;	/*最大幅の制限。これ以上広がらない。*/
}

/*mainブロック
---------------------------------------------------------------------------*/
#main {
	overflow: hidden;
	float: right;		/*右に回り込み*/
	width: 69%;			/*ブロックの幅*/
	padding: 90px 3% 0;	/*上、左右、下へのブロック内の余白*/
}
/*トップページでの追加設定*/
.home #main {
	width: 75%;	/*ブロックの幅*/
	padding: 0;	/*余白のリセット*/
}
/*h2タグ*/
#main h2 {
	clear: both;
	margin-bottom: 20px;
	font-size: 36px;				/*文字サイズ*/
	color: #928458;					/*文字色*/
	font-family: 'Cinzel',"游明朝","Yu Mincho","游明朝体","YuMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro";	/*フォントの指定*/
	line-height: 1.4;				/*行間*/
	border-bottom: 1px solid #928458;	/*下線の幅、線種、色*/
	padding-bottom: 15px;				/*h2タグ内の下側に空ける余白。小文字と下線との間のスペースです。*/
}
/*h2タグの小文字*/
#main h2 span {
	display: block;
	font-size: 12px;		/*文字サイズ*/
	padding-left: 3px;		/*左に空ける余白*/
	letter-spacing: 0.2em;	/*文字間隔を少し広くとる設定*/
}
/*h3タグ*/
#main h3 {
	clear: both;
	margin-bottom: 15px;
	font-size: 16px;	/*文字サイズ*/
	color: #333;		/*文字色*/
}
/*h3タグの左のアクセントライン*/
#main h3::first-letter {
	border-left: 2px solid #333;	/*左側の線の幅、線種、色*/
	padding-left: 10px;		/*ラインと文字との間の余白*/
}
/*段落(p)タグ*/
#main p {
	padding: 0 20px 20px;	/*上、左右、下への余白*/
}
/*他*/
#main p + p {
	margin-top: -10px;
}
#main h2 + p,
#main h3 + p {
	margin-top: -7px;
}
#main section + section {
	clear: both;
	padding-top: 30px;
}



/* dbページ右上のブロック作りたい 
--------------------------------------------------------------------------------------------------------------*/
div.migiue {
	height: 100px;
    width: 60%;
    background: #9dbbc4;
    margin:10px;
    float:right;
}

h2.tenmei{
	font-size:50px;
	}


/* dbページ右側中央部のブロック作りたい。Topタグ　評価　Map
--------------------------------------------------------------------------------------------------------------*/
div.rc{
	height: 50px;
    width: 60%;
    background: #9dbbc4;
    margin:10px;
    padding:10px;
    float:right;
}

form.inline{
	display: inline-block;
	width: 30%;
	padding: 0.5em;
	
}

/* ----------------------ボタンの装飾---------------------------- */
.cp_button15 {
	height: 40px;
	width: 100%;
	line-height: 1.4;
	cursor: pointer;
	transition: all 0.2s;
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
	-webkit-transform-origin: 0 100%;
	        transform-origin: 0 100%;
	text-decoration: none;
	color: #097491;
	border: 3px solid #097491;
	border-radius: 8px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.cp_button15:hover {
	-webkit-animation: button15 1s ease-in-out;
	        animation: button15 1s ease-in-out;
	color: #097491;
	border: 3px solid #097491;
}
.cp_button15:active {
	-webkit-transform: translate(1px, 1px);
	        transform: translate(1px, 1px);
	border-radius: 5% / 50%;
	background-color: #097491;
	color: #097491;
	border: 3px solid #097491;
}
.cp_button15:focus:hover,
.cp_button15:focus {
	color: #097491;
	border: 3px solid #097491;
}
@-webkit-keyframes button15 {
	16.65% {
		-webkit-transform: skew(-12deg);
		        transform: skew(-12deg);
	}
	33.3% {
		-webkit-transform: skew(10deg);
		        transform: skew(10deg);
	}
	49.95% {
		-webkit-transform: skew(-6deg);
		        transform: skew(-6deg);
	}
	66.6% {
		-webkit-transform: skew(4deg);
		        transform: skew(4deg);
	}
	83.25% {
		-webkit-transform: skew(-2deg);
		        transform: skew(-2deg);
	}
	100% {
		-webkit-transform: skew(0);
		        transform: skew(0);
	}
}
@keyframes button15 {
	16.65% {
		-webkit-transform: skew(-12deg);
		        transform: skew(-12deg);
	}
	33.3% {
		-webkit-transform: skew(10deg);
		        transform: skew(10deg);
	}
	49.95% {
		-webkit-transform: skew(-6deg);
		        transform: skew(-6deg);
	}
	66.6% {
		-webkit-transform: skew(4deg);
		        transform: skew(4deg);
	}
	83.25% {
		-webkit-transform: skew(-2deg);
		        transform: skew(-2deg);
	}
	100% {
		-webkit-transform: skew(0);
		        transform: skew(0);
	}
}


/* dbページ右側下部。右側下部に「お店の地図情報」を表示
--------------------------------------------------------------------------------------------------------------*/

div.rd{
	height: 600px;
    width: 60%;
    background: #9dbbc4;
    margin: 10px;
    padding: 15px;
    float: right;
}

iframe.mapsize{
	height:500px;
	width:550px;
	margin:50px;
	}

div.evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.evaluation input[type='radio']{
  display: none;
}
.evaluation label{
  position: relative;
  padding: 10px 10px 0;
  color: gray;
  cursor: pointer;
  font-size: 50px;
}
.evaluation label .text{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  color: gray;
}
.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}





/*listボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .list {
	position: relative;
	width: 24%;		/*幅*/
	margin: 0.5%;	/*外側に空けるスペース*/
	float: left;	/*左に回り込み*/
	background: #000;	/*背景色*/
}
/*画像*/
#main .list img {
	opacity: 0.5;	/*透明度。50%色がついた状態。*/
}
/*マウスオン時の画像*/
#main .list a img:hover {
	opacity: 1;		/*透明度。100%色がついた状態。*/
}
/*タイトル*/
#main .list span {
	position: absolute;
	bottom: 10px;		/*下から10pxの場所に配置*/
	left: 0px;			/*左から0pxの場所に配置*/
	width: 90%;		/*幅*/
	padding: 5px 5%;		/*余白*/
	font-size: 10px;	/*文字サイズ*/
	text-align: center;	/*文字をセンタリング*/
	display: none;		/*デフォルトでは非表示にしておく*/
	background: #000;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.7);	/*背景色。0,0,0は黒のことで0.7は70%色がついた状態のこと。*/
	color: #fff;	/*文字色*/
}
/*マウスオン時*/
#main .list:hover span {
	display: block;	/*表示させる*/
}

/*subブロック
---------------------------------------------------------------------------*/
#sub {
	float: left;		/*左に回り込み*/
	width: 25%;			/*ブロックの幅*/
	max-width: 375px;	/*最大幅。これ以上広がらないようにする。*/
	text-align: center;	/*ブロック内を中央に*/
	position: fixed;	/*画面をスクロールしても固定させる指定*/
}
/*subブロックのロゴ。menu.cssにもアニメーションに関連する指定が入っています。*/
#sub .logo {
	border-bottom: 1px solid #fff;	/*下線の幅、線種、色（古いブラウザ用）*/
	border-bottom: 1px solid rgba(255,255,255,0.5);	/*下線の幅、線種、色*/
	padding: 100px 0;	/*上下、左右への余白*/
}
/*ロゴ画像*/
#sub .logo img {
	width: 60%;	/*幅*/
}

/*footerブロック
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: right;	/*右寄せ*/
	padding-right: 3%;	/*右に空ける余白*/
	padding-top: 40px;	/*上に空ける余白*/
}
.home footer {padding-top: 0px;}
footer a {text-decoration: none;}
footer .pr {display: block;}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	border-bottom: none;	/*下線だけ消す*/
	text-align: left;		/*文字を左寄せ*/
	background: rgba(255,255,255,0.5);	/*背景色*/
	font-weight: bold;		/*太字に*/
	padding: 10px;		/*ボックス内の余白*/
}
/*ta1設定*/
.ta1 {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 20px;
}
.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px;			/*ボックス内の余白*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: rgba(255,255,255,0.5);	/*背景色*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*センタリング*/
	font-weight: normal;
}

/*フォーム関連
---------------------------------------------------------------------------*/
/*ボタン（btn）*/
input[type="submit"].btn,
input[type="button"].btn,
input[type="reset"].btn {
	padding: 5px 20px;		/*上下、左右へのボックス内の余白*/
	border-radius: 3px;		/*角丸のサイズ*/
	background: #eee;	/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.5);	/*背景色*/
}
/*マウスオン時のボタン（btn）設定*/
input[type="submit"].btn:hover,
input[type="button"].btn:hover,
input[type="reset"].btn:hover {
	background: #fff;	/*背景色*/
}
/*input,textarea共通*/
input,textarea {
	outline: none;background: transparent;
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
}
/*input,textareaのフォーカス時*/
input:focus,textarea:focus {
	background: #fff;
}

/*ボタン(cart-btn)の設定。詳細ページ(item.html)のかごに入れるボタンで使用。
---------------------------------------------------------------------------*/
input[type="submit"].cart-btn,
input[type="button"].cart-btn {
	width: 100%;
	padding: 15px 0px;	/*上下、左右へのボタン内の余白*/
	margin-bottom: 20px;
	border: 2px solid #910000;	/*枠線の幅、線種、色*/
	border-radius: 3px;	/*角丸のサイズ*/
	background: #ea0000;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#ea0000, #b40000 50%, #910000 50%);	/*グラデーション*/
	font-size: 20px;	/*文字サイズ*/
	color: #fff;	/*文字色*/
}
/*マウスオン時の設定*/
input[type="submit"].cart-btn:hover,
input[type="button"].cart-btn:hover {
	border: 2px solid #c10000;	/*枠線の幅、線種、色*/
	background: #fe0000;	/*背景色（古いブラウザ用）*/
	background: linear-gradient(#fe0000, #d50000 50%, #c10000 50%);	/*グラデーション*/
	position: relative;top: 1px;left: 1px;	/*マウスオン時に上から1px、左から1px場所を移動する*/
}

/*ページの上部に戻る「↑」ボタン
---------------------------------------------------------------------------*/
@keyframes scroll {
0% {opacity: 0;}
100% {opacity: 1;}
}
/*通常時のボタンは非表示*/
body .nav-fix-pos-pagetop a {
	display: none;
}
/*fixmenu_pagetop.jsで設定している設定値になったら出現するボタンスタイル*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 100;position: fixed;animation-name: scroll;animation-duration: 1s;animation-fill-mode: forwards;
	width: 50px;		/*ボタンの幅*/
	line-height: 50px;	/*ボタンの高さ*/
	bottom: 50px;		/*ウィンドウの下から20pxの場所に配置*/
	right: 1%;			/*ウィンドウの右から1%の場所に配置*/
	color: #fff;		/*文字色*/
	border-radius: 50%;	/*角丸指定。50%にすると円形になる。四角形がいいならこの１行削除。*/
	background: #000;	/*背景色*/
}
/*マウスオン時の背景色*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;
}

/*checkブロック。赤い注意書きブロックです。
---------------------------------------------------------------------------*/
p.check {
	background: #ff0000;
	color:#fff;
	padding: 10px 25px !important;
	margin-bottom: 20px;
}
p.check a {color: #fff;}


/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #222;padding: 5px 10px;border-radius: 4px;border: 1px solid #333;color: #fff;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb50 {margin-bottom: 50px !important;}
.p0 {padding:0 !important;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px;list-style: disc;}
.color1, .color1 a {color: #928458 !important;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
.fl {float: left;}
.fr {float: right;}
.big1 {font-size: 50px;}
.big2 {font-size: 24px;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.dn {display: none;}
.sh {display: none;}
#sh-sub {display: none;}




/*画面の高さが620px以下の場合の（大きな端末用）設定。
左メニューが620px以下になると切れて見えなくなるので、固定からスクロール表示に切り替えます。
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-height:620px){

/*subブロック
---------------------------------------------------------------------------*/
#sub {
	position: absolute;	/*固定からスクロール表示に変更*/
	height: auto;
}

}



/*画面を横向きにした場合の高さが500px以下の場合の設定。
※小さな端末用メニューを２列にします。
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (orientation: landscape) and (max-height:500px){

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニュー１個あたりの設定*/
#menubar-s li a {
	float: left;		/*左に回り込み*/
	width: 44%;			/*幅*/
	line-height: 1.2;	/*行間*/
}

}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。
透明(opacity: 0;)から色をつける(opacity: 1;)までの指定。*/
@keyframes menubar {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	position: fixed;
	top: 70px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);	/*背景色*/
	animation-name: menubar;		/*上のkeyframesの名前*/
	animation-duration: 0.5s;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*待機中は最初のキーフレームを、完了後は最後のキーフレームを維持*/
	font-family: 'Cinzel', serif;	/*冒頭で読み込んでいるGoogleFontsの指定*/
}
/*メニュー１個あたりの設定*/
#menubar-s li a {
	display: block;text-decoration: none;
	padding: 10px 3%;	/*メニュー内の余白。上下、左右。*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	color: #fff;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
}
/*説明表記（飾り文字）*/
#menubar-s li a span {
	display: block;
	font-size: 12px;/*文字サイズ*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: fixed;z-index: 50;
	top: 8px;		/*上から10pxの場所に配置*/
	right: 10px;	/*右から10pxの場所に配置*/
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: url(../images/icon_menu.png) no-repeat center top/50px;	/*背景画像の読み込み、画像の上半分（３本マーク）を表示。幅は50px。*/
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: url(../images/icon_menu.png) no-repeat center bottom/50px;	/*背景画像の読み込み、画像の下半分（×マーク）を表示。幅は50px。*/
}

/*mainブロック
---------------------------------------------------------------------------*/
#main {
	float: none;
	width: auto !important;
}

/*subブロック
---------------------------------------------------------------------------*/
#sub {
	display: none;
}

/*小さな端末用(800px以下)で表示させるブロック
---------------------------------------------------------------------------*/
#sh-sub {
	display: block;	/*非表示から表示に切り替える*/
	position: relative;z-index: 2;
}
/*ロゴブロック*/
#sh-sub .logo {
	position: fixed;z-index: 2;
	top: 0px;			/*上から0pxの場所に配置*/
	height: 70px;		/*ブロックの高さ*/
	width: 100%;		/*ブロックの幅*/
	background: #000;	/*背景色*/
}
/*ロゴ画像*/
#sh-sub .logo img {
	width: 200px;		/*画像の幅*/
	margin-top: 22px;	/*上に空けるスペース。上下間をここで調整して下さい。*/
	margin-left: 3%;	/*左に空けるスペース。*/
}

/*その他
---------------------------------------------------------------------------*/
body.s-n #sub,body.s-n #footermenu,.m-n {display: none;}
.big1 {font-size: 24px;}
.fl {float: none;}
.fr {float: none;}
.sh {display:block;}
.pc {display:none;}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*mainブロック
---------------------------------------------------------------------------*/
/*h2タグ*/
#main h2 {
	font-size: 24px;
}
/*h3タグ*/
#main h3 {
	font-size: 14px;	/*文字サイズ*/
}

/*テーブル（ta1）
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	padding: 5px;	/*ボックス内の余白*/
}
.ta1, .ta1 td, .ta1 th {
	padding: 5px;	/*ボックス内の余白*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 100px;	/*幅*/
}

}