<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>高円寺ランチ検索ぅ 店舗一覧ページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/db_style.css">
<script src="js/openclose.js"></script>
<script src="js/fixmenu_pagetop.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>

<![endif]-->
</head>

<body class="home">

<div id="container">

<div id="main">

<section id="mainimg">

<h2 class="dn">お知らせ</h2>


</section>

</div>
<!--/#main-->

<div id="sub">

<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li class="menu1"><a href="index.html">Top<span>トップ</span></a></li>
<li class="menu2 current"><a href="db.html">Store<span>店舗一覧</span></a></li>
<!-- <li class="menu3"><a href="r_top.html">Details<span>店舗詳細</span></a></li>
<li class="menu3"><a href="r_evaluation.html">Evaluation<span>評価</span></a></li>
<li class="menu4"><a href="r_Map.html">Access<span>マップ</span></a></li>
<li class="menu5"><a href="user_review.html">Review<span>レビュー</span></a></li>-->
</ul>
</nav>

</div>
<!--/#sub-->

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- 右上に「店名」ブロックを作りたい -->
<!--  	<div class="migiue">
	  <h2 class="tenmei">右上にブロックを作りたい「店名」を表示</h2>
	</div>
	-->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
	<!-- 右上中央 -->
	<div class="inline-block_test2">
	<div class="inline-block_gazo2">
	<div class="inline-block_ran">
        ☆評価ランキング 
    </div>
    </div>
    <div class="inline-block_in2">
    <div class="inline-block_ran">
        閲覧数ランキング
    </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
	<!-- 右上下部 -->
<div class="inline-block_test">
<div class="inline-block_gazo">
<img src="./images/sample2_mini.jpg" alt="" title="">

</div>
<div class="inline-block_in">
	
<table>
<!-- 	<tr><th>ID</th><th>名前</th><th>メール</th><th>年齢</th><th>メモ(tel)</th></tr> -->
	<tr th:each="obj : ${datalist.shop}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.name}"></td>
	  	<td th:text="${obj.address}"></td>
		<td>
			<form  method="post" action="/a">
				<input type="hidden" name="sid" th:value="${obj.id}">
				<input type="hidden" name="name" th:value="${obj.name}">
				<input type="submit" value="送信">
			</form>
		</td>
	</tr>
	</table>
	
</div>
</div>

<div class="inline-block_test">
<div class="inline-block_gazo">
<img src="./images/sample2_mini.jpg" alt="" title="">
</div>
<div class="inline-block_in">

</div>
</div>

<div class="inline-block_test">
<div class="inline-block_gazo">
<img src="./images/sample2_mini.jpg" alt="" title="">
</div>
<div class="inline-block_in">
<p>店名　:　王将</p>
<p>ジャンル　:　中華</p>
<p>評価　:　（☆１～☆５）</p>
<p>値段　:　500円</p>
<p>距離　:　高円寺駅から200ｍ</p>
</div>
</div>

<div class="inline-block_test2">
<div class="nav-links">
  <a class="prev page-numbers" href="https://techacademy.jp/magazine/category/webdesign/">«</a><!-- 現在の前のページへのリンク -->
  <a class="page-numbers" href="https://techacademy.jp/magazine/category/webdesign/">1</a>
  <span class="page-numbers current">2</span><!-- 現在閲覧しているページ -->
  <a class="page-numbers" href="https://techacademy.jp/magazine/category/webdesign/page/3">3</a>
  <span class="page-numbers dots">…</span>
  <a class="page-numbers" href="https://techacademy.jp/magazine/category/webdesign/page/27">27</a>
  <a class="next page-numbers" href="https://techacademy.jp/magazine/category/webdesign/page/3">»</a><!-- 現在の次のページへのリンク -->
</div>
</div>


<!--小さな端末用（800px以下端末）環境でのみ表示させるブロック-->

<div id="sh-sub">

<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li class="menu1"><a href="index.html">Top<span>トップ</span></a></li>
<li class="menu2 current"><a href="db.html">Store<span>店舗一覧</span></a></li>
<!-- <li class="menu3"><a href="r_top.html">Details<span>店舗詳細</span></a></li>
<li class="menu3"><a href="r_evaluation.html">Evaluation<span>評価</span></a></li>
<li class="menu4"><a href="r_Map.html">Access<span>マップ</span></a></li>
<li class="menu5"><a href="user_review.html">Review<span>レビュー</span></a></li>-->
</ul>
</nav>

</div>
<!--/#sh-sub-->
<footer>
<small>Copyright&copy; <a href="index.html">高円寺ランチ検索ぅ</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
