<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>高円寺ランチ検索ぅ 店舗詳細ページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/r_top_style.css">
<script src="js/openclose.js"></script>
<script src="js/fixmenu_pagetop.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<style>
.slide1 {background: url(images/1.jpg) no-repeat center center;}
.slide2,.slide3 {display: none;}
.home #container,.home #main,.home #sub {overflow: auto;}
</style>
<![endif]-->
</head>

<body class="home">

<div id="container">
<!--/#main-->

<div id="sub">

<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li class="menu1"><a href="index.html">Top<span>トップ</span></a></li>
<li class="menu2"><a href="db.html">Store<span>店舗一覧</span></a></li>
<li class="menu3 current"><a href="r_top.html">Details<span>店舗詳細</span></a></li>
<li class="menu3"><a href="r_evaluation.html">Evaluation<span>評価</span></a></li>
<li class="menu4"><a href="r_Map.html">Access<span>マップ</span></a></li>
<li class="menu5"><a href="user_review.html">Review<span>レビュー</span></a></li>
</ul>
</nav>

</div>
<!--/#sub-->


<!------------------------------------ 右上に「店名」ブロックを作りたい ---------------------------------------->
	<div class="migiue">
	  <h2>「店名」の情報を引っ張ってくる</h2>
	</div>

<!------------------------------------ 右中央に「3つのボタン」ブロックを作りたい ---------------------------------------->	
	<div class="rc">		
	<form  method="post" action="/r_top.html">
		<input type="text" name="sid" th:value="${sid}">
		<input type="text" name="name" th:value="${name}">
		<input class="cp_button15" type="submit" value="お店情報TOP">
	</form>
	<form  method="post" action="/r_Map.html">
		<input type="text" name="sid" th:value="${sid}">
		<input type="text" name="name" th:value="${name}">
		<input class="cp_button15" type="submit" value="お店の場所">
	</form>
	<form  method="post" action="/user_review.html">
		<input type="text" name="sid" th:value="${sid}">
		<input type="text" name="name" th:value="${name}">
		<input class="cp_button15" type="submit" value="星で評価を付ける">
	</form>

	</div>
	
	
	
<!------------------------------------ 右下部に「評価」ブロックを作りたい ---------------------------------------->
	<div class="rd">
	  <h3>右側下部に「お店情報」をDBより引っ張ってくる</h3>
	  <!-- text-alignで揃える？ -->
	  <ul>
	  <li>値段:</li>
	  <li th:text="${datalist}">現在のお店の評価:</li>
	  <li>フーディからの一言</li>
	  </ul>
	</div>



<!--小さな端末用（800px以下端末）環境でのみ表示させるブロック-->

<div id="sh-sub">

<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li class="menu1"><a href="index.html">Top<span>トップ</span></a></li>
<li class="menu2"><a href="db.html">Store<span>店舗一覧</span></a></li>
<li class="menu3 current"><a href="r_top.html">Details<span>店舗詳細</span></a></li>
<li class="menu3"><a href="r_evaluation.html">Evaluation<span>評価</span></a></li>
<li class="menu4"><a href="r_Map.html">Access<span>マップ</span></a></li>
<li class="menu5"><a href="user_review.html">Review<span>レビュー</span></a></li>
</ul>
</nav>

</div>
<!--/#sh-sub-->

<footer>
<small>Copyright&copy; <a href="index.html">高円寺ランチ検索ぅ</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
