<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>高円寺ランチ検索ぅ レビューページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/user_review_style.css">
<script src="js/openclose.js"></script>
<script src="js/fixmenu_pagetop.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>

<![endif]-->
</head>

<body class="home">

<div id="container">

<div id="main">

<section id="mainimg">

<h2 class="dn">お知らせ</h2>


</section>

</div>
<!--/#main-->

<div id="sub">

<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li class="menu1"><a href="index.html">Top<span>トップ</span></a></li>
<li class="menu2"><a href="db.html">Store<span>店舗一覧</span></a></li>
<li class="menu3"><a href="r_top.html">Details<span>店舗詳細</span></a></li>
<li class="menu3"><a href="r_evaluation.html">Evaluation<span>評価</span></a></li>
<li class="menu4"><a href="r_Map.html">Access<span>マップ</span></a></li>
<li class="menu5 current"><a href="user_review.html">Review<span>レビュー</span></a></li>
</ul>
</nav>

</div>
<!--/#sub-->

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- 右上に「店名」ブロックを作りたい -->
	<div class="migiue">
	  <h2 class="tenmei" th:text="${name}">「店名」を表示</h2>
	</div>
	
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
	<!-- 右上中央 -->
	<div class="rc">		
	<form  method="post" action="/r_top.html">
		<input type="text" name="sid" th:value="${sid}">
		<input type="text" name="name" th:value="${name}">
		<input class="cp_button15" type="submit" value="お店情報TOP">
	</form>
	<form  method="post" action="/r_Map.html">
		<input type="text" name="sid" th:value="${sid}">
		<input type="text" name="name" th:value="${name}">
		<input class="cp_button15" type="submit" value="お店の場所">
	</form>
	<form  method="post" action="/user_review.html">
		<input type="text" name="sid" th:value="${sid}">
		<input type="text" name="name" th:value="${name}">
		<input class="cp_button15" type="submit" value="星で評価を付ける">
	</form>

	</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
	<!-- 右側下部 -->
	<div class="rd">
	  <h3 class="rds">お店の評価を星の数で教えてくださいな</h3>
	  <br>
<form method="post" action="/user_review" th:object="${formModel}">
  	
  <div class="evaluation">
    <input name="sid" th:value="${sid}" />
  	<input name="shop" th:value="${name}" />
    <input id="star1" type="radio" name="star" value="5" />
    <label for="star1"><span class="text">最高</span>★</label>
    <input id="star2" type="radio" name="star" value="4" />
    <label for="star2"><span class="text">良い</span>★</label>
    <input id="star3" type="radio" name="star" value="3" />
    <label for="star3"><span class="text">普通</span>★</label>
    <input id="star4" type="radio" name="star" value="2" />
    <label for="star4"><span class="text">悪い</span>★</label>
    <input id="star5" type="radio" name="star" value="1" />
    <label for="star5"><span class="text">最悪</span>★</label>
    <br>
    </div>
  <div>
  <pre>味の感想を書いて下さい</pre>
  <textarea  placeholder="味の感想を入力" name="hyouka"></textarea>
  </div>
  <input type="submit" value="送信" />
</form>


<!--小さな端末用（800px以下端末）環境でのみ表示させるブロック-->

<div id="sh-sub">

<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li class="menu1"><a href="index.html">Top<span>トップ</span></a></li>
<li class="menu2"><a href="db.html">Store<span>店舗一覧</span></a></li>
<li class="menu3"><a href="r_top.html">Details<span>店舗詳細</span></a></li>
<li class="menu3"><a href="r_evaluation.html">Evaluation<span>評価</span></a></li>
<li class="menu4"><a href="r_Map.html">Access<span>マップ</span></a></li>
<li class="menu5 current"><a href="user_review.html">Review<span>レビュー</span></a></li>
</ul>
</nav>

</div>
<!--/#sh-sub-->

<footer>
<small>Copyright&copy; <a href="index.html">高円寺ランチ検索ぅ</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
