<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>高円寺ランチ検索ぅ 店舗詳細ページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="css/r_top_style.css">
<script src="js/openclose.js"></script>
<script src="js/fixmenu_pagetop.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<style>
.slide1 {background: url(images/1.jpg) no-repeat center center;}
.slide2,.slide3 {display: none;}
.home #container,.home #main,.home #sub {overflow: auto;}
</style>
<![endif]-->
</head>

<body class="home">

<div id="container">
<!--/#main-->

<div id="sub">

<h1 class="logo"><a href="/index.html"><img src="images/logo1.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--PC用（801px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li class="menu1"><a href="/index.html">Top<span>トップ</span></a></li>
<li class="menu2"><a href="/rest.html">Store<span>店舗一覧</span></a></li>
</ul>
</nav>

</div>
<!--/#sub-->


<!------------------------------------ 右上に「店名」ブロックを作りたい ---------------------------------------->
	<div class="migiue">
	  <h2 class="tenmei" th:text="${name}">「店名」を表示</h2>
	</div>

<!------------------------------------ 右中央に「3つのボタン」ブロックを作りたい ---------------------------------------->	
	<div class="rc">
	<form class="inline" method="post" action="/r_top.html">
		<input type="hidden" name="sid" th:value="${sid}">
		<input type="hidden" name="name" th:value="${name}">
		<input type="hidden" name="genre_name" th:value="${genre_name}">
		<input type="hidden" name="budget_average" th:value="${budget_average}">
		<input type="hidden" name="access" th:value="${access}">
		<input type="hidden" name="address" th:value="${address}">
		<input type="hidden" name="open" th:value="${open}">
		<input type="hidden" name="close" th:value="${close}">
		<input class="cp_button15" type="submit" value="お店情報TOP">
	</form>
	<form class="inline" method="post" action="/r_Map.html">
		<input type="hidden" name="sid" th:value="${sid}">
		<input type="hidden" name="name" th:value="${name}">
		<input type="hidden" name="genre_name" th:value="${genre_name}">
		<input type="hidden" name="budget_average" th:value="${budget_average}">
		<input type="hidden" name="access" th:value="${access}">
		<input type="hidden" name="address" th:value="${address}">
		<input type="hidden" name="open" th:value="${open}">
		<input type="hidden" name="close" th:value="${close}">
		<input class="cp_button15" type="submit" value="お店の場所">
	</form>
	<form class="inline" method="post" action="/user_review.html">
		<input type="hidden" name="sid" th:value="${sid}">
		<input type="hidden" name="name" th:value="${name}">
		<input type="hidden" name="genre_name" th:value="${genre_name}">
		<input type="hidden" name="budget_average" th:value="${budget_average}">
		<input type="hidden" name="access" th:value="${access}">
		<input type="hidden" name="address" th:value="${address}">
		<input type="hidden" name="open" th:value="${open}">
		<input type="hidden" name="close" th:value="${close}">
		<input class="cp_button15" type="submit" value="星で評価を付ける">
	</form>

	</div>
	
	
	
<!------------------------------------ 右下部にブロックを作りたい ---------------------------------------->
	<div class="rd">
	  <form  method="post" action="/r_top.html">
		<input type="hidden" name="sid" th:value="${sid}"><br>
		<th>・ジャンル</th><p name="genre_name" th:text="${genre_name}"></p><br>
		<th>・予算</th><p name="budget_average" th:text="${budget_average}"></p><br>
		<th>・アクセス</th><p  name="access" th:text="${access}"></p><br>
		<th>・住所</th><p  name="address" th:text="${address}"></p><br>
		<th>・営業時間</th><p  name="open" th:text="${open}"></p><br>
		<th>・休業日</th><p name="close" th:text="${close}"></p><br>
		<th>・星の評価の平均値</th><p th:text="${savg}"></p><br>
		<th>・最新のコメント</th><p th:text="${scom}"></p><br>
	  </form>
	</div>

<!--小さな端末用（800px以下端末）環境でのみ表示させるブロック-->

<div id="sh-sub">

<h1 class="logo"><a href="/index.html"><img src="images/logo1.png" alt="高円寺ランチ検索ぅ"></a></h1>

<!--小さな端末用（800px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li class="menu1"><a href="/index.html">Top<span>トップ</span></a></li>
<li class="menu2"><a href="/rest.html">Store<span>店舗一覧</span></a></li>
</ul>
</nav>

</div>
<!--/#sh-sub-->

<footer>
<small>Copyright&copy; <a href="/index.html">高円寺ランチ検索ぅ</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
